In [2]:
import pandas as pd

In [3]:
cc_problem = pd.read_csv('data/codechef/problem.csv')
cc_problem.head()
# cc_problem.shape

,projectID,title,problem,tags,difficulty,input_tc,output_tc,datatime
0,START01,Number Mirror,Write a program that takes a number N as the i...,"['Implementation', 'Algorithms']",200.0,123,123,2023-07-11 08:56:06 PM
1,GDTURN,Good Turn,Chef and Chefina are playing with dice.\n In o...,"['Conditional Statements', 'Basic Programming ...",238.0,4\n1 4\n3 4\n4 2\n2 6,NO\nYES\nNO\nYES,2023-07-11 08:56:16 PM
2,FLOW001,Add Two Numbers,Your task is very simple: given two integers A...,"['Implementation', 'Algorithms']",242.0,3\n1 2\n100 200\n10 40,3\n300\n50,2023-07-11 08:56:27 PM
3,AGELIMIT,Age Limit,Chef wants to appear in a competitive exam.\n ...,['Basic Programming Concepts'],245.0,5\n21 34 30\n25 31 31\n22 29 25\n20 40 15\n28 ...,YES\nNO\nYES\nNO\nYES,2023-07-11 08:56:37 PM
4,SQUATS,Squats,Somu went to the gym today.\n He decided to do...,['Basic Programming Concepts'],249.0,3\n1\n4\n99,15\n60\n1485,2023-07-11 08:56:48 PM

In [4]:
## data processing
cc_data = cc_problem[['projectID', 'tags', 'difficulty']]
cc_data.head()
# cc_data.shape

  projectID                                               tags  difficulty
0   START01                   ['Implementation', 'Algorithms']       200.0
1    GDTURN  ['Conditional Statements', 'Basic Programming ...       238.0
2   FLOW001                   ['Implementation', 'Algorithms']       242.0
3  AGELIMIT                     ['Basic Programming Concepts']       245.0
4    SQUATS                     ['Basic Programming Concepts']       249.0

In [5]:
cf_problem = pd.read_csv('data/codeforces/problem.csv')
cf_problem.head()

,contestID,problemID,title,problem,tags,points,difficulty,solvedCount,input_tc,output_tc,datatime
0,1847,F,The Boss's Identity,"While tracking Diavolo's origins, Giorno recei...","['binary search', 'bitmasks', 'data structures...",3000.0,0,479,3\n2 3\n2 1\n1\n2\n3\n4 5\n0 2 1 3\n0\n1\n2\n3...,1\n3\n-1\n2\n2\n4\n-1\n-1\n-1\n3\n8\n1\n5\n,2023-07-12 10:36:49 AM
1,1847,E,Triangle Platinum?,This is an interactive problem.\nMade in Heave...,"['brute force', 'combinatorics', 'implementati...",2750.0,0,164,3\n\n63\n\n,\n? 1 2 3\n\n! -1,2023-07-12 10:36:57 AM
2,1847,D,Professor Higashikata,Josuke is tired of his peaceful life in Morioh...,"['data structures', 'dsu', 'greedy', 'implemen...",2000.0,0,2242,2 2 4\n01\n1 2\n1 2\n1\n1\n2\n2\n\n,0\n1\n0\n1\n,2023-07-12 10:37:06 AM
3,1847,C,"Vampiric Powers, anyone?",DIO knows that the Stardust Crusaders have det...,"['bitmasks', 'brute force', 'data structures',...",1500.0,0,8082,3\n4\n0 2 5 1\n3\n1 2 3\n5\n8 2 4 12 1\n,7\n3\n14\n,2023-07-12 10:37:22 AM
4,1847,B,Hamon Odyssey,Jonathan is fighting against DIO's Vampire min...,"['bitmasks', 'greedy', 'two pointers']",1000.0,0,13487,3\n3\n1 2 3\n5\n2 3 1 5 2\n4\n5 7 12 6\n,1\n2\n1\n,2023-07-12 10:37:31 AM

In [6]:
## data processing
cf_data = cf_problem[['contestID', 'problemID', 'tags', 'difficulty', 'points', 'solvedCount']]
cf_data.head()
# cc_data.shape

,contestID,problemID,tags,difficulty,points,solvedCount
0,1847,F,"['binary search', 'bitmasks', 'data structures...",0,3000.0,479
1,1847,E,"['brute force', 'combinatorics', 'implementati...",0,2750.0,164
2,1847,D,"['data structures', 'dsu', 'greedy', 'implemen...",0,2000.0,2242
3,1847,C,"['bitmasks', 'brute force', 'data structures',...",0,1500.0,8082
4,1847,B,"['bitmasks', 'greedy', 'two pointers']",0,1000.0,13487

In [8]:
## sort by difficulty
cf_data = cf_data.sort_values(by=['difficulty'], ascending=False)
cf_data.head()

,contestID,problemID,tags,difficulty,points,solvedCount
955,1685,E,"['data structures', 'greedy']",3500,3500.0,106
173,1817,F,"['string suffix structures', 'strings']",3500,3000.0,101
842,1704,H2,"['combinatorics', 'fft', 'math']",3500,2750.0,62
165,1819,F,"['data structures', 'dp']",3500,3000.0,92
721,1726,H,"['binary search', 'geometry', 'implementation'...",3500,3500.0,69

In [13]:
## count by difficulty
cf_data.value_counts('difficulty')

## analyze difficulty
cf_data['difficulty'].mean() ## 평균 1747.5
cf_data['difficulty'].median() ## 중앙값 1700.0
cf_data['difficulty'].mode() ## 최빈값 800

0    800
Name: difficulty, dtype: int64

In [16]:
## analyze points
cf_data['points'].mean() ## 평균 1013.5
cf_data['points'].median() ## 중앙값 500.0
cf_data['points'].mode() ## 최빈값 0.0

0    0.0
Name: points, dtype: float64